@use '../../global' as *;

@media only all and (min-width: 0){ //Mobile Mode
  section{
    h1, h2, h3, h4, h5, h6{
      margin-bottom: 0.5rem;
      width: 100%;
    }
    p{
      font-size: 1rem;
      line-height: 1.5;
      margin: 0 auto 1rem auto;
    }
    figure{
      margin: 0;
      margin-bottom: 1rem;
      display:flex;      
      justify-content: center;
      align-items: center;
      img{
        width: 100%;
        max-width: 100%;
        height: auto;
      }
    }
    a{
      color: $primary-color;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}
@media only screen and (min-width: 760px) { //Min-Mode
}
@media only all and (min-width: 992px){} //med
@media only all and (min-width: 1200px){} //max
@media only all and (min-width: 1600px){
} //mega