@use '../../global.scss' as *;
@use "sass:color";

//Variables

// @media (prefers-color-scheme: light) {
//     main#aboutPage{
//       .contentHolder{
//         background-color: color.adjust($light-background-color, $alpha: -0.5);
//         // color:black;
//       }
//     }
//   }
// @media (prefers-color-scheme: dark) {
//     main#aboutPage{
//       .contentHolder{
//         background-color: color.adjust($primary-color, $alpha: -0.25);
//         // color: white;
//       }
//     }
//   }


@media only all and (min-width: 0){
    main#aboutPage{
      .contentHolder{
      width: 70vw;
      margin: 2.5rem auto;
      padding: 2.5rem;
      background-color: var(--section-bg-color);
        section#JeremyColeBio{
        display:flex;
        flex-direction:column;
        align-items: center;

        .contentHolder_info{
            figure{
              display:flex;
              flex-direction: column;
              margin:0 auto;
              max-width: 60vw;
              img{
                display:flex;
                width: 100%;
              }
            }
            h1{
              
            }
            h2{}
            p{}
          }
        }
      }
    }
} //mob
@media only all and (min-width: 760px){
    main#aboutPage{
      .contentHolder{
        section#JeremyColeBio{
          .contentHolder_info{
            display: block;
            figure{
              display:block;
              max-width: 40vw;
              float: left;
              margin: 0 2.5rem 2.5rem 0;
              img{
  
              }
            }
            h1:first-of-type{
              margin-top:0;
              line-height: 100%;
              margin-bottom: 1rem;
            }
            h2{}
            p{}
          }
        }
      }
    }
} //min
@media only all and (min-width: 992px){
  main#aboutPage{}
} //med
@media only all and (min-width: 1200px){
    main#aboutPage{
      .contentHolder{
        section#JeremyColeBio{
          display: block;
          .contentHolder_info{
            figure{
              max-width: 20vw;
              margin: 0 2.5rem 0 0;
              img{
  
              }
            }
            h1{
            }
            h2{}
            p{}
          }
        }
      }
    }
} //max
@media only all and (min-width: 1600px){
  main#aboutPage{}
} //mega