@use '../../global.scss' as *;
@use "sass:color";

//Variables

@media only all and (min-width: 0){
  main{
    // background-color: black;
    padding:0;
    margin:0 auto;
    width: 100vw;
    color:black;
    h2{
      margin:0;
    }
    #home_banner{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background:
      radial-gradient($tertiary-color 3px, transparent 4px),
      radial-gradient($tertiary-color 3px, transparent 4px),
      linear-gradient($secondary-color 4px, transparent 0),
      linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
      linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
      $secondary-color;
      background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
      background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;

      border-radius: 15px;
      
      color: #fff;
      margin: 2.5rem auto;
      // padding: 2rem;
      height: 65vh;
      width: 90vw;
      overflow: hidden;
      .filter{
        display:flex;
        width: 100%;
        height: 100%;
        a:link, a:visited, a:hover, a:active{
          position: relative;
          top:0;
          left:0;
          width:100%;
          height:100%;
          // background: $secondary-color;
          // opacity: 0.5;
          z-index: 1;
          margin:0;
          display: flex;
          flex-direction: column-reverse;
          align-items: center;
          justify-content: center;
          color:$accent-color;
          .text-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;
            // gap: 1rem;
            h1{
              margin:1rem;
              text-align:center;
            }
            p{
              margin:0;
            }
          }
          figure{
            width: 10rem;
            margin:0;
            a:link, a:visited, a:hover, a:active{
              text-decoration: none;
              color: white;
            }
            img{
              width: 100%;
              margin: 1rem auto;
            }
          }
        }
      }
    }
    #author_intro{
      margin: 0;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      background-color: color.adjust($primary-color, $alpha: -0.5);
      color: white;
      figure{
        width: 15rem;
        box-shadow: 0 0 50px rgba(255, 255, 255, 0.5);
        border-radius: 25%;
        overflow: hidden;
        display:flex;
        align-items: center;
        justify-self: center;
        img{
          display:flex;
          width: 100%;
          height: 100%;
        }
      }
      section{
          display:flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 1rem;
          h1{
            margin: 0;
            text-align: center;
            line-height: 1.1;
          }
          p{
            text-align: center;
            max-width: 600px;
            margin:0;
          }
      }
    }
    #signup{
      margin: 2.5rem 0;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      color:white;
      background-color: color.adjust($accent-color, $alpha: -0.5);
      h1{
        margin:0;
      }
      p{
        margin:0;
        text-align: center;
        max-width: 600px;
      }
    }
  }
} //mob
@media only all and (min-width: 760px){
    main{
      h2{
      }
      #home_banner{
        .filter{
          a:link, a:visited, a:hover, a:active{
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            column-gap: 2.5rem;
            .text-container{
              // margin: 0 2rem;
              width:40%;
              h2{
              }
              p{
              }
            }
            figure{
              display:flex;
              align-items: center;
              justify-content: center;
              width: 40%;
              // width: 15rem;
              img{
                width: 75%;
                height: auto;
              }
            }
          }
          flex-direction: row-reverse;
        }
      }
      #author_intro{
        figure{
          // width: 12.5rem;
          display:inline-block;
          vertical-align: top;
          float: left;
          img{
          }
        }
        p{
          display:flex;
          float: right;
          width: 50%;
        }
      }
  }
} //min
@media only all and (min-width: 992px){} //med
@media only all and (min-width: 1200px){} //max
@media only all and (min-width: 1600px){
      main{
    h2{
    }
    #home_banner{
      height: 60vh;
      .filter{
        .text-container{
          h2{
          }
          p{
          }
        }
        figure{
          width: 20rem;
          img{
          }
        }
        p{}
      }
    }
    #author_intro{
      figure{
        img{
        }
      }
      p{
      }
    }
  }
} //mega