@use '../../global.scss' as *;
@use "sass:color";

//Variables

@media only all and (min-width: 0){
  main{
    // background-color: black;
    padding:0;
    margin:0 auto;
    width: 100%;
    color:black;
    #home_banner{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background:
      radial-gradient($tertiary-color 3px, transparent 4px),
      radial-gradient($tertiary-color 3px, transparent 4px),
      linear-gradient($secondary-color 4px, transparent 0),
      linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
      linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
      $secondary-color;
      background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
      background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;

      border-radius: 15px;
      
      color: #fff;
      margin: 2.5rem auto 5rem auto;
      // padding: 2rem;
      height: 70vh;
      width: 90vw;
      overflow: hidden;
      .filter{
        display:flex;
        width: 100%;
        height: 100%;
        a:link, a:visited, a:hover, a:active{
          position: relative;
          top:0;
          left:0;
          width:100%;
          height:100%;
          // background: $secondary-color;
          // opacity: 0.5;
          z-index: 1;
          margin:0;
          display: flex;
          flex-direction: column-reverse;
          align-items: center;
          justify-content: center;
          // color:$accent-color;
          padding: 0 10vw;
          .text-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;
            // gap: 1rem;
            h1{
              margin:1rem;
              text-align:center;
            }
            p{
              margin:0;
            }
          }
          figure{
            width: 45vw;
            margin:0 auto;
            text-decoration: none;
            color: white;
            padding: 0 10vw;
            display: flex;
            img{
              width: 100%;
              margin: 0rem auto;
            }
          }
        }
        a:hover, a:active{
          box-shadow: 0 0 50px $accent-color;
          figure{
            // box-shadow: 0 0 50px color.adjust($accent-color, $alpha: -0.5);
          }
        }
      }
    }
    #author_intro{
      margin: 5rem auto;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      background-color: color.adjust($primary-color, $alpha: -0.5);
      color: white;
      figure{
        width: 15rem;
        box-shadow: 0 0 50px rgba(255, 255, 255, 0.5);
        border-radius: 25%;
        overflow: hidden;
        display:flex;
        align-items: center;
        justify-self: center;
        img{
          display:flex;
          width: 100%;
          height: 100%;
        }
      }
      section{
          display:flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 1rem;
          h1{
            margin: 0;
            text-align: center;
            line-height: 1.1;
          }
          p{
            text-align: center;
            max-width: 600px;
            margin:0;
          }
      }
    }
    #signup{
      margin: 5rem 0;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      color:white;
      background-color: color.adjust($accent-color, $alpha: -0.5);
      h1{
        margin:0;
      }
      p{
        margin:0;
        text-align: center;
        max-width: 600px;
      }
    }
  }
} //mob
@media only all and (min-width: 760px){
    main{
      #home_banner{
        height: 40vh;
        .filter{
          a:link, a:visited, a:hover, a:active{
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            column-gap: 2.5rem;
            // padding: 0 15vw;
            padding:0;
            .text-container{
              margin: 0;
              width:20rem;
              font-size: 125%;
              h1{
                margin:0;
                line-height: 1.1;
              }
              p{
              }
            }
            figure{
              display:flex;
              align-items: center;
              justify-content: center;
              width: 12.5rem;
              // width: 15rem;
              margin:0;
              padding:0;
              img{
                // width: 75%;
                height: auto;
              }
            }
          }
          flex-direction: row-reverse;
        }
      }
      #author_intro{
        margin: 10rem auto;
        padding: 5rem 0;
        flex-direction: row-reverse;
        figure{
          width: 40%;
          display:inline-block;
          vertical-align: top;
          float: left;
          img{
          }
        }
        section{
          display:flex;
          flex-direction: column;
          vertical-align: top;
          float: right;
          width: 40%;
          h1{
            margin:0;
            text-align: center;
            line-height: 1.1;
            width: 100%;
          }
          p{
            width: 100%;
          }
          button{
            margin: 0 auto;
          }
        }
      }
      #signup{
        margin: 5rem 0;
        padding: 5rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        color:white;
        background-color: color.adjust($accent-color, $alpha: -0.5);
      h1{
        margin:0;
      }
      p{
        margin:0;
        text-align: center;
        max-width: 600px;
      }
    }
  }
} //min
@media only all and (min-width: 992px){
  main{
    #home_banner{
      height: 50vh;
      .filter{
        a:link, a:visited, a:hover, a:active{
          .text-container{
            width: 25rem;
            font-size:150%;
            h1{
            }
            p{
            }
          }
          figure{
            width: 17.5rem;
            img{
            }
          }
        }
      }
    }
    #author_intro{
      figure{
        img{
        }
      }
      section{
        h1{
        }
        p{
        }
        button{
        }
      }
    }
    #signup{
    h1{
    }
    p{
    }
    }
  }
} //med
@media only all and (min-width: 1200px){
        main{
      h2{
      }
      #home_banner{
        height: 50vh;
        .filter{
          a:link, a:visited, a:hover, a:active{
            .text-container{
              h1{
              }
              p{
              }
            }
            figure{
              width: 17.5rem;
              img{
              }
            }
          }
        }
      }
      #author_intro{
        figure{
          img{
          }
        }
        section{
          h1{
          }
          p{
          }
          button{
          }
        }
      }
      #signup{
      h1{
      }
      p{
      }
    }
  }
} //max
@media only all and (min-width: 1600px){
  main{
    #home_banner{
      height: 70vh;
      .filter{
        a:link, a:visited, a:hover, a:active{
          .text-container{
            width: 40rem;
            font-size:250%;
            h1{
            }
            p{
            }
          }
        }
        figure{
          width: 20rem;
          img{
          }
        }
        p{}
        }
        .text-container{
      }
    }
    #author_intro{
      figure{
        img{
        }
      }
      p{
      }
    }
  }
} //mega