@use '../../global.scss' as *;
@use "sass:color";

//Variables

@media only all and (min-width: 0){
  main#homePage{
    padding:0;
    margin:0 auto;
    width: 100%;
    // color:black;
    #home_banner{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background:
      radial-gradient($tertiary-color 3px, transparent 4px),
      radial-gradient($tertiary-color 3px, transparent 4px),
      linear-gradient($secondary-color 4px, transparent 0),
      linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
      linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
      $secondary-color;
      background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
      background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
      border-radius: 15px;
      
      color: #fff;
      margin: 2.5rem auto 5rem auto;
      height: 450px;
      width: 90vw;
      max-width: 400px;
      overflow: hidden;

      box-shadow: 0 0 50px rgba(255, 255, 255, 0.5);
      .contentHolder{
        display:flex;
        width: 100%;
        height: 100%;
        a:link, a:visited, a:hover, a:active{
          position: relative;
          top:0;
          left:0;
          width:100%;
          height:100%;
          z-index: 1;
          margin:0;
          display: flex;
          flex-direction: column-reverse;
          align-items: center;
          justify-content: center;
          padding: 0 10vw;
          gap: 1rem;
          .text-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;
            h1{
              margin:0rem;
              text-align:center;
              line-height: 1.2;
            }
            p{
              margin:0;
            }
          }
          figure{
            // width: 45vw;
            // max-width: 250px;
            width: 175px;
            margin:0 auto;
            text-decoration: none;
            color: white;
            display: flex;
            box-shadow: 0 0 50px color.adjust(white, $alpha: 0);
            img{
              width: 100%;
              margin: 0rem auto;
            }
          }
        }
        a:hover, a:active{
          figure{
            transition: all 0.3s ease;
            // box-shadow: 0 0 50px color.adjust(white, $alpha: 0);
            box-shadow: 0 0 50px color.adjust($accent-color, $alpha: 1);
            img{
              display:flex;
            }
          }
          .text-container{
            transition: all 0.3s ease;
            // box-shadow: 0 0 50px color.adjust(white, $alpha: 0);
            color: $accent-color;
          }
        }
      }
    }
    #author_intro{
      margin: 5rem auto;
      // padding: 2rem;
      display: flex;
      align-items: center;
      justify-self: center;
      width: 90vw;
      max-width: 400px;
      background-color: var(--section-bg-color);
      // background-color: color.adjust(var(--section-bg-color), $alpha: -0.5);
      // color: white;
      box-shadow: 0 0 50px var(--section-bg-color);
      border-radius: 15px;
      .contentHolder{
        flex-direction: column;
        display:flex;
        width: 100%;
        figure{
          width: 250px;
          // max-width: 400px;
          box-shadow: 0 0 50px rgba(255, 255, 255, 1);
          border-radius: 25px;
          overflow: hidden;
          display:flex;
          align-items: center;
          justify-self: center;
          margin: 5rem auto;
          img{
            display:flex;
            width: 100%;
            height: 100%;
          }
        }
        section{
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            margin: 0rem auto;
            h1{
              margin: 0;
              text-align: center;
              line-height: 1.2;
            }
            p{
              text-align: center;
              max-width: 75%;
              margin:0;
            }
            button{
              margin: 2.5rem auto;
            }
        }
      }
    }
    #signup{
      margin: 5rem auto;
      padding: 2rem 0;
      display: flex;
      flex-direction: column;
      justify-self: center;
      align-items: center;
      gap: 1rem;
      color:white;
      width: 90vw;
      max-width: 400px;
      background-color: color.adjust($accent-color, $alpha: -0.5);
      box-shadow: 0 0 50px color.adjust($accent-color, $alpha: -0.5);
      border-radius: 15px;
      h1{
        margin:0;
        text-align: center;
      }
      p{
        margin:0;
        text-align: center;
        width: 75%;
      }
    }
  }
} //mob
@media only all and (min-width: 760px){
    main#homePage{
      #home_banner{
        height: 400px;
        max-width: 700px;
        .contentHolder{
          a:link, a:visited, a:hover, a:active{
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            column-gap: 2.5rem;
            // padding: 0 15vw;
            padding:0;
            .text-container{
              margin: 0;
              width:20rem;
              font-size: 125%;
              h1{
                margin:0;
                line-height: 1.2;
              }
              p{
              }
            }
            figure{
              display:flex;
              align-items: center;
              justify-content: center;
              width: 12.5rem;
              max-width: none;
              // width: 15rem;
              margin:0;
              padding:0;
              img{
                // width: 75%;
                height: auto;
              }
            }
          }
          flex-direction: row-reverse;
        }
      }
      #author_intro{
        margin: 10rem auto;
        padding: 7.5rem 0;
        display:flex;
        align-items: center;
        justify-content: center;
        max-width: 700px;
          // background-color: color.adjust($primary-color, $alpha: -0.5);
          // color: white;
        .contentHolder{
          display:flex;
          flex-direction: row-reverse;
          width: 100%;
          height: 100%;
          align-items: center;
          justify-content: center;
          margin:0 auto;
          gap: 2.5rem;
          figure{
            width: 40%;
            // display:inline-block;
            // vertical-align: top;
            // float: left;
            margin:0;
            img{
            }
          }
          section{
            display:flex;
            flex-direction: column;
            // vertical-align: top;
            // float: right;
            width: 40%;
            margin:0;
            h1{
              margin:0;
              text-align: left;
              line-height: 1.2;
              width: 100%;
            }
            p{
              width: 100%;
              text-align: left;
              max-width: inherit;
            }
            button{
              margin: 0 auto 0 0;
            }
          }
        }
      }
      #signup{
        margin: 5rem 0;
        padding: 5rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        color:white;
        max-width: 700px;
        background-color: color.adjust($accent-color, $alpha: -0.5);
      h1{
        margin:0;
      }
      p{
        margin:0;
        text-align: center;
        // max-width: 600px;
      }
    }
  }
} //min
@media only all and (min-width: 992px){
  main#homePage{
    #home_banner{
      height: 500px;
      max-width: 900px;
      margin: 5rem auto;
      .contentHolder{
        a:link, a:visited, a:hover, a:active{
          .text-container{
            width: 25rem;
            font-size:150%;
            h1{
            }
            p{
            }
          }
          figure{
            width: 17.5rem;
            img{
            }
          }
        }
      }
    }
    #author_intro{
      max-width: 900px;
      .contentHolder{
        gap: 5rem;
        figure{
          img{
          }
        }
        section{
          h1{
          }
          p{
          }
          button{
          }
        }
      }
    }
    #signup{
      max-width: 900px;
    h1{
    }
    p{
    }
    }
  }
} //med
@media only all and (min-width: 1200px){
    main#homePage{
      h2{
      }
      #home_banner{
        height: 550px;
        margin: 5rem auto;
        max-width: 1200px;
        .contentHolder{
          a:link, a:visited, a:hover, a:active{
            .text-container{
              h1{
              }
              p{
              }
            }
            figure{
              width: 17.5rem;
              img{
              }
            }
          }
        }
      }
      #author_intro{
        // padding: 7.5rem 0;
        gap: 10rem;
        max-width: 1200px;
        .contentHolder{
          width: 80%;
          max-width: 1200px;
          display: flex;
          margin: 0 auto;
          figure{
            img{
            }
          }
          section{
            h1{
              font-size: 300%;
            }
            p{
              font-size: 150%;
            }
            button{
            }
          }
        }
      }
      #signup{
        max-width: 1200px;
        h1{
        }
        p{
        }
      }
    }
} //max
@media only all and (min-width: 1600px){
  main#homePage{
    #home_banner{
      height: 650px;
      max-width: 1600px;
      .contentHolder{
        a:link, a:visited, a:hover, a:active{
          gap:7.5rem;
          .text-container{
            width: 40rem;
            font-size:250%;
            h1{
            }
            p{
            }
          }
          figure{
            width: 22.5rem;
            img{
            }
          }
        }
      }
        p{}
    }
    #author_intro{
      max-width: 1600px;
      figure{
        img{
        }
      }
      p{
      }
    }
    #signup{
      max-width: 1600px;
      h1{
      }
      p{
      }
  }
}
} //mega